*{
	padding: 0;
	margin: 0;
}

.header{
	height: 100px;
	background-color: grey;
}
.footer{
	height: 100px;
	background-color:grey;
}
.wrapper{
	max-width: : 1280px;
}
.sidebar{
	width: 300px;
	background-color: blue;
}
.main{
	background-color: #7E7575;
}
