*{
	padding: 0;
	margin: 0;
}

.header{
	height: 100px;
	background-color: grey;
}
.footer{
	clear: both;
	height: 100px;
	background-color:grey;
}
.wrapper{
	max-width: : 1280px;
}
.sidebar{
	width: 300px;
	background-color: blue;
	float: left;
}
.main{
	background-color: #7E7575;
}
.content{
	float:right;
	width: 980px;
	background-color: #68C755;
}
.clearfix:after{
	content: '';
	display: block;
	clear:both;
}
